@import "tailwindcss";


* {
    font-family: "Outfit";
    scroll-behavior: smooth;
}

.rich-text {
    font-size: 16px;
    color: #7A7B7D;
}

.rich-text p {
    margin-bottom: 20px;
}

.rich-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #252525;
    margin-bottom: 16px;
}

.rich-text h2 {
    font-size: 18px;
    color: #252525;
    margin-bottom: 16px;
}

.rich-text h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 16px;
}

.rich-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    margin-bottom: 16px;
}

.rich-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    margin-bottom: 16px;
}

.rich-text h6 {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 16px;
}

.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
    margin-bottom: 20px;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

.rich-text li {
    margin-bottom: 8px;
}

.input {
  @apply w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700
         focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.label {
  @apply text-sm font-medium text-gray-600 mb-1;
}

.error {
  @apply text-sm text-red-500 mt-1;
}

.section {
  @apply bg-white p-5 rounded-lg border border-gray-200;
}
